<div id="new-post">
  <div class="row">
    <div class="small-12 columns">
      <form>
          <label>
            <input type="text" placeholder="Hai!">
          </label>
      </form>
    </div>
  </div>
</div>