<div id="profile-box">
  <img id="profile-pic" src="http://upload.wikimedia.org/wikipedia/commons/b/b2/Hausziege_04.jpg"/>
  <div id="profile-info">
    <div id="username"><h5>Jake Catt</h5></div>
    <section class="section">
      <div id="about"><h4><small>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</small></h4></div>
      <div id="user-link"><h4><small><a href="www.google.com">www.jakecatt.com</a></small></h4><div>
    </section>
    <hr>
    <section class="section">
      <h4><small><a href="#">Following:</a></small></h4>
      <h4><small><a href="#">Followers:</a></small></h4>
    </section>
    <hr>
  </div>
</div>