<% @posts.each do |x| %>

<div class="post">
  <div class="row">
    <div class="small-2 columns"><img src="<%= x.user.profile_photo %>"/></div>
    <div class="small-10 columns">
      <p><%= x.body %></p>
    </div>

  </div>
</div>
 <% end %>