<% @posts.each do |x| %>

<div class="post">
  <div class="row">

    <div class="small-2 columns"><%= link_to user_path(x.user) do %> 
        <img class="pic" src="<%= x.user.profile_photo %>" />
        <% end %></div>
    <div class="small-10 columns">
      <p><%= x.body %></p>
    </div>

  </div>
</div>
 <% end %>