<div class="post">
  <div class="row">
    <div class="small-2 columns"><img src="http://placehold.it/80x80&text=[img]"/></div>
    <div class="small-10 columns">
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo.</p>
    </div>
  </div>
</div>