<% @followers.each do |x| %>

<div class="post">
  <div class="row">
    <div class="small-2 columns">

      <%= link_to user_path(follower) do %>

      <img src="<%= follower.profile_photo %>"/>

      <% end %>
    </div>

    <div class="small-10 columns">
      <p><%= follower.username %></p>
      <p><%= follower.bio %></p>
    </div>
  </div>
</div>
<% end %>