<nav id="hai-nav" class="top-bar" data-topbar role="navigation">
    
  <ul class="title-area">
    <li id="logo"><img src="http://i.imgur.com/glF1xD1.png"></li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a id="home-icon" href="#">&#8962;</a></li>
      <li><a href="#"><img id="users-icon" src="http://i.imgur.com/2YR3PxU.png"></a></li>
      <li><a href="#"><img id="profile-icon" src="http://i.imgur.com/msk9tLg.png"></a></li>

      <li class="has-dropdown">
        <a id="settings-icon" href="#">&#9881;</a>
        <ul class="dropdown">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </section>

</nav>